.landing {
    background-color: 	white;
    display: flex;
}

.left {
    flex: 0.5;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #475860;
}

.right {
    flex: 0.5;
    overflow: hidden;
}

.img-container {
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    display: flex;
    position: relative;
    height: 80%;
    border-radius: 50%;

}
